/* Custom class to remove hover effect */
.no-hover:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: inherit !important;
}

.text-stroke {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.text-inner-shadow {
  text-shadow: 
    1px 1px 0 #fff,   /* Right and down */
    -1px -1px 0 #fff, /* Left and up */
    -1px 1px 0 #fff,  /* Left and down */
    1px -1px 0 #fff;  /* Right and up */
}
